<nav class="mui-bar mui-bar-tab managerbar" id="managerbar">
    <div class="mui-pull-left cz cz1" onclick="nav(1)">
        <div class="mui-row rz rz1 active"></div>
    </div>
    <div class="mui-pull-left cz cz2" onclick="nav(2)">
        <div class="mui-row rz rz1 "></div>
    </div>
    @*<div class="mui-pull-left cz cz5" onclick="nav(5)">
        <div class="mui-row rz rz1"></div>
    </div>*@
    <div class="mui-pull-left cz cz3" onclick="nav(3)">
        <div class="mui-row rz rz1"></div>
    </div>
    <div class="mui-pull-left cz cz4" onclick="nav(4)">
        <div class="mui-row rz rz1"></div>
    </div>
</nav>
<link href="~/public/css/nav.css" rel="stylesheet" />
<script src="~/public/js/nav.js"></script>