<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CreeperEntities" connectionString="server=.;database=Creeper;uid=sa;pwd=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--日志路径-->
    <add key="logFilePath" value="E:\logFiles_Creeper" />
    <!--是否替换本系统审核过的代理、推广员-->
    <add key="ReplaceAgent" value="false" />
    <!--筛选的游戏ID （10032,大长安； 10013,兰州）-->
    <add key="GameID" value="10032" />
    <!-- 
    时间间隔 ms 毫秒 
    1h: 60 * 60 * 1000 = 3600000
    5min: 5 * 60 * 1000 = 300000
    -->
    <add key="RunInterval" value="300000" />
    <add key="RunProfitTime" value="01:00:00" />
    <add key="BeginTime" value="2017-10-01 00:00:00" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>