.list_box2 {
    
}

.mui-content {
    padding: 0%;
    padding-top: 34vw;
    margin-bottom: 20vw;
}

.ra1 {
    background: #7da5e6;
    z-index: 101;
}

    .ra1 .rz {
        width: 70%;
        margin: 0 auto;
        padding: 2% 0%;
    }

        .ra1 .rz .cz {
            width: 25%;
            text-align: center;
            border: 1px solid #fff;
            height: 9vw;
            line-height: 9vw;
            color: #fff;
            border-right: none;
        }

            .ra1 .rz .cz.active {
                background: #fff;
                color: #7da5e6;
            }

        .ra1 .rz .cz4 {
            border-right: 1px solid #fff;
        }

    .ra1 .cz5 {
        position: absolute;
        right: 0%;
        top: 0%;
        width: 11%;
    }

        .ra1 .cz5 div {
            background: url(/public/images/fdj.png) no-repeat center;
            background-size: 100%;
            width: 50%;
            margin: 0% auto;
            height: 13vw;
            line-height: 10vw;
        }

        .ra1 .cz5.active div {
            background: url(/public/images/jiantouxs.png) no-repeat center top;
            background-size: 100%;
            margin-top: 45%;
        }

.ra2 .rz .cz {
    width: 33%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 11vw;
    line-height: 11vw;
    color: #AAAAAA;
}

.ra2 .rz .cz1 {
    width: 34%;
}

.ra2 .rz .cz.active {
    border-bottom: 2px solid #7da5e6;
    color: #7da5e6;
}

.ra2.AgentLevel2 .rz .cz {
    width: 50%;
}



.ra4 {
    margin: 0% 0%;
    z-index: 1;
}

    .ra4 .cz {
        text-align: center;
    }

    .ra4 .cz1 {
        width: 10%;
    }

    .ra4 .cz2 {
        width: 20%;
    }

    .ra4 .cz3 {
        width: 30%;
    }

    .ra4 .cz4 {
        width: 20%;
    }

    .ra4 .cz5 {
        width: 20%;
    }

    .ra4 .th {
        background: #eeeeee;
        line-height: 8vw;
        font-size: 3.8vw;
    }

    .ra4 .tr {
        font-size: 3vw;
        line-height: 8vw;
    }

        .ra4 .tr.tr2 {
            background: #eee;
        }

.ra5 .cz1 {
    width: 15%;
}

.ra5 .cz2 {
    width: 35%;
}

.ra5 .cz3 {
    width: 25%;
}

.ra5 .cz4 {
    width: 25%;
}

.search {
    position: absolute;
    top: 0%;
    background: #FFFFFF;
    width: 100%;
    padding: 2% 0%;
    z-index: 101;
}

    .search .rz1 input {
        border: 0px;
    }

    .search .rz {
        margin: 3% 6%;
    }

    .search .rz1 {
        border-bottom: 1px solid #ccc;
    }

        .search .rz1 .cz {
            font-size: 4.5vw;
            line-height: 10vw;
            height: 10vw;
        }

        .search .rz1 .cz1 {
            width: 30%;
            margin-top: 1%;
            text-align: right;
            color: #A6A6A6;
        }

        .search .rz1 .cz2 {
            width: 54%;
        }

        .search .rz1 .cz3 {
            width: 13%;
        }

            .search .rz1 .cz3 div {
                width: 55%;
                background: url(/public/images/rili.png) no-repeat center top;
                background-size: 100%;
                line-height: 10vw;
                margin: 16% 5% 0% 25%;
            }

    .search .rz2 div {
        width: 83%;
        margin: 0 auto;
    }

.opacity {
    filter: opacity(.5);
}

.layerzhezhao {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #000000;
}

.ra3 {
    position: fixed;
    bottom: 20vw;
    z-index: 111;
    width: 100%;
}

    .ra3 .rz {
        width: 50%;
        margin: 0 auto;
        border-radius: 5px;
    }

    .ra3 .rz2 {
        color: #fff;
    }

    .ra3 .rz .cz {
        width: 50%;
        text-align: center;
        border-bottom: 0px solid #ccc;
        font-size: 3.8vw;
        z-index: 101;
    }

    .ra3 .rz .cz2 {
        text-align: center;
    }

    .ra3 .bg {
        background: #9b9b9b;
        z-index: 90;
    }

    .ra3 .rza {
        border-radius: 5px;
        position: absolute;
        top: 0;
        width: 100%;
        line-height: 5.2vw;
        height: 5.2vw;
        z-index: 90;
    }

    .ra3 .rza2 {
        color: #fff;
        z-index: 190;
        font-size: 3.3vw;
    }


.mui-content .ra .th {
    position: fixed;
    top: 24vw;
    width: 100%;
    z-index: 1;
}

.menunav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}
