@{
    ViewBag.Title = "登录Temp";
}
@section styles{
    <link rel="stylesheet" href="/public/plugins/jquery-file-upload/css/jquery.fileupload.css">
}

<section class="todo-content">
    <div class="panel-title pll">网站信息<small>网站信息维护</small></div>
</section>
<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">网站信息</h3>
        </div>
        <form data-validate="parsley" method="post" action="/cms/website/update" class="form-horizontal">
            <div class="box-body">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label style="margin-top:40px" class="col-sm-2 control-label">网站LOGO</label>
                        <div class="col-sm-10">
                            <input id="hidden_logo" name="logo" type="hidden" value="/public/img/uploads/1484098424032.png"><img id="logo_pic" style="width:100px;height:100px;display:inline;" src="/public/img/uploads/1484098424032.png"><span style="margin-top:74px;" class="btn btn-default btn-xs mll fileinput-button">
                                <i class="fa fa-upload"></i>
                                <input id="file1" type="file" name="filesdata">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="id" name="id" type="hidden" value="1">
                        <label for="title" class="col-sm-2 control-label">网站标题</label>
                        <div class="col-sm-10">
                            <input id="title" name="title" type="text" placeholder="网站标题" value="石家庄千甫金属制品有限公司" autocomplete="off" data-required="true" class="form-control parsley-validated">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="siteurl" class="col-sm-2 control-label">网站网址</label>
                        <div class="col-sm-10">
                            <input id="siteurl" name="siteurl" type="text" placeholder="网站网址" value="/" autocomplete="off" data-required="true" class="form-control parsley-validated">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-sm-2 control-label">搜索关键词</label>
                        <div class="col-sm-10">
                            <input id="keywords" name="keywords" type="text" placeholder="多个关键词以 &quot;,&quot; 号间隔" value="石家庄千甫金属制品有限公司,锌锭,铝锭,氧化锌,铜锭,铅锭,锌矿粉,锌渣,加工,销售" autocomplete="off" data-required="true" class="form-control parsley-validated">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">网站描述</label>
                        <div class="col-sm-10">
                            <textarea id="description" name="description" rows="5" placeholder="网站描述" autocomplete="off" data-required="true" class="textarea form-control parsley-validated">
                                公司主营：锌锭、铝锭加工销售；氧化锌、铜锭、铅锭、锌矿粉、锌渣销售。我公司是河北石家庄金属制品业的知名企业，公司坚持诚信、互利，为客户提供最好的服务和最实惠的价格。热诚欢迎各界朋友前来参观、洽谈业务。
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="support_name" class="col-sm-2 control-label">技术支持</label>
                        <div class="col-sm-4">
                            <input id="support_name" name="support_name" type="text" placeholder="技术支持" value="iteming" autocomplete="off" data-required="true" class="form-control parsley-validated">
                        </div>
                        <label for="support_url" class="col-sm-2 control-label">技术支持网址</label>
                        <div class="col-sm-4">
                            <input id="support_url" name="support_url" type="text" placeholder="技术支持网址" value="http://www.iteming.wang/" autocomplete="off" class="form-control parsley-validated">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="icp_num" class="col-sm-2 control-label">备案号</label>
                        <div class="col-sm-4">
                            <input id="icp_num" name="icp_num" type="text" placeholder="公司规模(ex: 1-49人)" value="冀ICP备15016569号" autocomplete="off" class="form-control parsley-validated">
                        </div>
                        <label for="views" class="col-sm-2 control-label">浏览次数</label>
                        <div class="col-sm-4">
                            <input id="views" name="views" type="text" placeholder="浏览次数" value="14" autocomplete="off" readonly="readonly" class="form-control parsley-validated">
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="carousel" name="carousel" type="hidden" value="/public/img/uploads/1484099778509.png|/public/img/uploads/1484107434301.jpg">
                        <label class="col-sm-2 control-label">轮播图片</label>
                        <div class="col-sm-10">
                            <span class="btn btn-default fileinput-button">
                                <i class="fa fa-picture-o"></i><span>选择图片</span>
                                <input id="carouselfile1" type="file" name="filesdata">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <blockquote class="note note-info">
                                <h4>注意事项</h4>
                                <ul>
                                    <!--li 支持多选-->
                                    <li>最大文件大小上传<strong>200MB</strong>.</li>
                                    <li>支持的图片类型有（<strong>JPG, GIF, PNG</strong>）.</li>
                                    <li>轮播图片建议比例（<strong>1110 X 300、900 X 243、370 X 100</strong>像素）.</li>
                                </ul>
                            </blockquote>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a type="button" href="/cms/" class="btn btn-default">取消更改</a>
                            <input id="btn_submit" name="btn_submit" type="button" value="确认更改" class="btn btn-info mll">
                        </div>
                    </div>
                </div>
                <div ng-app="picturelist" ng-controller="picturelistCtrl" class="col-sm-4">
                    <div ng-repeat="picture in picturelists" class="form-group">
                        <div class="col-sm-12 details-picture">
                            <div class="col-sm-12 text-center">
                                <label class="mrlgr">{{$index+1}}</label><a ng-click="DeletePicture($index)" class="btn btn-danger btn-xs mllgr"><i class="fa fa-times"></i><span>删除此图片</span></a>
                            </div><img ng-src="{{picture?picture:&quot;&quot;}}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/public/plugins/jquery-file-upload/js/jquery.fileupload-ajax.js"></script>
    <script type="text/javascript" src="/public/js/cms/UploadPageJS.js"></script>
    <script type="text/javascript">
        //当选中文件,则立即执行上传
        $(document).on("change", "#file1", function () {
            if ($("#file1").val() != "") {
                FileAction.FileUpload("file1", 0, null, $("#logo_pic"), $("#hidden_logo"), null);
            }
        });
    </script>
    <script type="text/javascript" src="/public/plugins/angular/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('picturelist', []);
        app.controller('picturelistCtrl', function ($scope) {
            $scope.picturelists = [];
            $scope.LoadPicture = function () {
                var carousel = '/public/img/uploads/1484099778509.png|/public/img/uploads/1484107434301.jpg';
                if (carousel) {
                    $scope.picturelists = carousel.split("|");
                }
            };
            $scope.DeletePicture = function (index) {
                $scope.picturelists.splice(index, 1);
                $scope.$apply();
            };
            $scope.LoadPicture();
            //当选中文件,则立即执行上传
            $(document).on("change", "#carouselfile1", function () {
                if ($("#carouselfile1").val() != "") {
                    if ($scope.picturelists.length >= 5) {
                        toastrShow(3, '轮播图片最多上传5张');
                        return;
                    }
                    FileAction.FileUpload("carouselfile1", 0, null, null, null, null, null, $scope.picturelists, $scope);
                }
            });

            $("#btn_submit").on('click', function () {
                $("#carousel").val($scope.picturelists.join("|"));
                //表单验证
                var valid = $("form").parsley().validate();
                if (!valid)
                    return;

                //表单验证通过：则提交
                $.ajax({
                    url: "/cms/website/update",
                    type: "post",
                    dataType: "json",
                    data: $("form").serialize(),
                    success: function (data) {
                        if (data.Ret > 0) {
                            toastrShow(data.Ret, data.Message);
                            setTimeout(function () {
                                window.location = "/cms/website";
                            }, '1500')
                        } else {
                            toastrShow(data.Ret, data.Message);
                        }
                    }
                });
            });
        });
    </script>
}