@{
    ViewBag.Title = "用户对局";
}
<div class="layerzhezhao opacity" style="display:none"></div>
<div class="menunav">
    <div class="mui-row ra ra1 mui-relative">
        <div class="mui-row rz rz1">
            <div class="mui-pull-left cz cz1 active" itemid="1">今日</div>
            @*<div class="mui-pull-left cz cz2" itemid="2">本月</div>*@
            <div class="mui-pull-left cz cz3" itemid="3">累计</div>

        </div>
        <div class="cz5" itemid="4" onclick="search()"><div>&nbsp;</div></div>
    </div>

    <div class="mui-row ra search" style="display: none;">
        <div class="mui-row rz rz1">
            <div class="mui-pull-left cz cz1">开始日期：</div>
            <div class="mui-pull-left cz cz2 btn" data-r="begindate" data-options='{"type":"date"}'><input type="text" id="begindate" readonly="readonly" /></div>
            <div class="mui-pull-left cz cz3 btn" data-r="begindate" data-options='{"type":"date"}'><div>&nbsp;</div></div>
        </div>
        <div class="mui-row rz rz1">
            <div class="mui-pull-left cz cz1">结束日期：</div>
            <div class="mui-pull-left cz cz2 btn" data-r="enddate" data-options='{"type":"date"}'><input type="text" id="enddate" readonly="readonly" /></div>
            <div class="mui-pull-left cz cz3 btn" data-r="enddate" data-options='{"type":"date"}'><div>&nbsp;</div></div>
        </div>
        <div class="mui-row rz rz2 " onclick="getvalue(99,1)"><div class="btnblue">搜索</div> </div>
    </div>
</div>
<div class="mui-content">

    <div class="mui-row ra ra4">
        <div class="mui-row th">
            <div class="mui-pull-left cz cz2">游戏ID</div>
            <div class="mui-pull-left cz cz3">游戏昵称</div>
            <div class="mui-pull-left cz cz4">成功对局数</div>
            <div class="mui-pull-left cz cz1">胜率</div>
            <div class="mui-pull-left cz cz5">开房消耗</div>
        </div>
        <div class="list_box"></div>
        <div class="list_box1" style="display:none">
            <div class="mui-row tr tr1">
                <div class="mui-pull-left cz cz2">10001234</div>
                <div class="mui-pull-left cz cz3">张三</div>
                <div class="mui-pull-left cz cz4">100000</div>
                <div class="mui-pull-left cz cz1">1</div>
                <div class="mui-pull-left cz cz5">9999</div>
            </div>
            <div class="mui-row tr tr2">
                <div class="mui-pull-left cz cz2">10001234</div>
                <div class="mui-pull-left cz cz3">张三</div>
                <div class="mui-pull-left cz cz4">100000</div>
                <div class="mui-pull-left cz cz1">1</div>
                <div class="mui-pull-left cz cz5">9999</div>
            </div>

            <div class="mui-loading">
                <div class="mui-spinner"></div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="showsearch" value="0" />
<input type="hidden" id="Type" value="1" />
<input type="hidden" id="onoff" value="1" />
<input type="hidden" id="PageIndex" value="1" />

@section scripts {
    <script>
        $(document).ready(function () {
            $("#managerbar .rz").removeClass("active");
            $("#managerbar .cz3 .rz").addClass("active");

            //默认值
            getvalue(1, 1);

            $(".ra1 .cz").click(function () {
                var t = $(this).attr("itemid");
                //console.log("itemid1" + t);
                $(".ra1 .cz").removeClass("active");
                $(this).addClass("active");
                if (t > 0 && t < 4) {
                    hidesearch();
                    $("#Type").val(t);
                    getvalueV2(1);
                }
            });

            $(window).scroll(function () {
                var $this = $(this),
                viewH = $(this).height(),//可见高度
                contentH = $(document.body).height(),//内容高度
                scrollTop = $(this).scrollTop();//滚动高度
                var t = scrollTop * 1 / (contentH * 1 - viewH * 1);
                //console.log(t);
                if (t >= 0.95) { //到达底部100px时,加载新内容
                    // 这里加载数据..
                    //打开加载开关，如果加载开关是打开状态，不执行下面方法
                    var PageIndex = $("#PageIndex").val() * 1;
                    var onoff = $("#onoff").val() * 1;
                    if (PageIndex > 0 && onoff === 1) {
                        $("#onoff").val("0");
                        PageIndex = PageIndex * 1 + 1;
                        var tloading = '<div class="mui-loading"><div class="mui-spinner"></div></div>';
                        $(".list_box").append(tloading);
                        //console.log(scrollTop);
                        //加载4S关闭
                        setTimeout(function () { getvalueV2(PageIndex) }, 2000);
                        //searchProduct(Index);
                    }
                }
            });
        });

        function getvalueV2(PageIndex) {
            var Type1 = $("#Type").val();
            getvalue(Type1, PageIndex);
        }

        function search() {
            var showsearch = $("#showsearch").val();
            console.log("showsearch:" + showsearch);
            if (showsearch == "0") {
                $(".layerzhezhao").show();
                $(".ra1 .cz5").addClass("active");
                $("#showsearch").val("1");
                var height = $(".ra1").height();
                $(".search").css("top", height);
                $(".search").slideDown(100);
                $(".menunav").css("position", "absolute");
            } else {
                hidesearch();
            }
        };

        function hidesearch() {
            $("#showsearch").val("0");
            $(".search").hide();
            $(".layerzhezhao").hide();
            $(".menunav").css("position", "fixed");
            $(".ra1 .cz5").removeClass("active");
        }

        function getvalue(Type, PageIndex) {
            var begindate = $("#begindate").val();
            var enddate = $("#enddate").val();
            if (Type == 99) {
                $(".ra1 .cz").removeClass("active");
                if (!begindate) { mui.alert("请选择开始时间！"); return false; }
                if (!enddate) { mui.alert("请选择结束时间！"); return false; }
                hidesearch();
            }
            //console.log("Type:" + Type);
            $.ajax({
                url: "/Promoter/UserGameGet",
                type: "POST",
                dataType: "json",
                async: false,
                data: {
                    Type: Type,
                    BeginTime: begindate,
                    EndTime: enddate,
                    PageIndex: PageIndex,
                    PageSize: 20
                },
                success: function (data) {
                    //mui.alert(data.Message);
                    //alert(JSON.stringify(data));
                    //console.log(JSON.stringify(data));
                    $("body").find(".mui-loading").remove();//去掉加载提示
                    $("#PageIndex").val(PageIndex);//保存当前页索引
                    var tmes = data.Message;
                    if (tmes.indexOf("----已经到底了----") >= 0) {
                        $("#onoff").val("0");//如果加载完成，设置为可加载新的页面
                    } else {
                        $("#onoff").val("1");//设置为可加载新的页面
                    }
                    $(".ra4").show();
                    if (PageIndex > 1) {
                        $(".ra4 .list_box").append(data.Message);
                    } else {
                        $(window).scrollTop(0);
                        $(".ra4 .list_box").html(data.Message);
                    }
                    return false;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (XMLHttpRequest.status != 499) {
                        mui.alert("抱歉，当前网络异常，请退出重试.");
                    } else {
                        mui.alert("登录超时，请退出重试.");
                    }
                    return false;
                }
            });
            return false;
        }
    </script>
}

@section styles {
    <link href="/public/css/common.css" rel="stylesheet" />
    <link href="/public/css/UserGame.css" rel="stylesheet" />
}

@Html.Partial("~/Views/Shared/_PartialMenu.cshtml")