@{
    ViewBag.Title = "首页";
}

<section class="todo-content">
    <div class="panel-title pll">闲雅麻将·大长安<small>闲雅麻将·大长安 后台管理系统.维护游戏产品分利层级,查看用户,查看用户充值记录!</small></div>
</section>
<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">首页</h3>
        </div>
        <div class="jumbotron">
            <p>
                <a href="http://blog.csdn.net/allenwdj/article/details/49176159" class="btn btn-primary btn-large"
                   target="_blank" title="bootstrap.min.js jquery.jqGrid.min.js">jqgrid详情</a>
            </p>
        </div>
    </div>
</div>
