@{
    ViewBag.Title = "分利层级管理";
}

@section styles{
    <link href="~/public/plugins/jquery.jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/public/plugins/jquery.jqgrid/css/style.min.css" rel="stylesheet" />
}
<section class="todo-content">
    <div class="panel-title pll">分利层级管理<small>分利层级信息</small></div>
</section>

<div class="col-md-12" ng-app="list" ng-controller="listCtrl">
    <div class="box box-info">
        <div class="box-body">
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group">
                        <button id="btnAdd" type="button" class="btn btn-sm btn-primary " onclick="addModel()">
                            <i class="fa fa-plus"></i>添加
                        </button>
                        <button id="btnEdit" type="button" class="btn btn-sm btn-info " onclick="editModel()">
                            <i class="fa fa-pencil"></i>编辑
                        </button>
                        <button id="btnDel" type="button" class="btn btn-sm btn-danger " onclick="delData()">
                            <i class="fa fa-remove"></i>删除
                        </button>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input id="txtSearchKey" type="text" class="input form-control" placeholder="搜索关键字">
                            <span class="input-group-btn">
                                <button id="btnSearch" class="btn btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="jqGrid_wrapper">
                        <table id="jqGridList"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/public/plugins/jquery.jqgrid/js/jquery.peity.min.js"></script>
    <script src="~/public/plugins/jquery.jqgrid/js/grid.locale-cn.js"></script>
    <script src="~/public/plugins/jquery.jqgrid/js/jquery.jqGrid.js"></script>
    <script src="~/public/plugins/jquery.jqgrid/js/content.min.js"></script>
    <script src="~/public/plugins/layer-v3.1.1/layer.js"></script>
    <script>
        $(document).ready(function () {
            var config = {
                title: '分利层级管理',
                shrinkToFit: true,//超出宽度自动滚动
                url: '/AgentLevel/List',
                mtype: 'post',
                colNames: ['主键ID', '产品ID', '产品名称', '代理级别', '代理名称', '获得直接用户分成比例',
                    '获得下级分成比例', '获得下下级分成比例', '是否有效', '操作'],
                colModel: [
                    { name: 'Id', index: 'Id', hidden: true, width: 60, key: true },
                    { name: 'GameId', index: 'GameId', editable: true, width: 60 },
                    { name: 'GameName', index: 'GameName', width: 90 },
                    { name: 'AgentLevelId', index: 'AgentLevelId', width: 60 },
                    { name: 'AgentLevelName', index: 'AgentLevelName', width: 60 },
                    { name: 'DProportion', index: 'DProportion', width: 90 },
                    { name: 'IProportion', index: 'IProportion', width: 90 },
                    { name: 'IProportion2', index: 'IProportion2', width: 90 },
                    {
                        name: 'IsValid', index: 'IsValid', width: 60,
                        formatter: function (cellValue, options, rowObject)
                            { return cellValue === 0 ? "否" : "是"; }
                    },
                    {
                        name: 'operate', index: 'operate', width: 90,
                        formatter: function (value, grid, rows, state) {
                            return '<a href="javascript:void(0);" style="color:#3c3c3c;" onclick="modify(\'' + JSON.stringify(rows) + '\');">修改</a>';
                        }
                    }
                ],
                height: 310,
                rowNum: 10,
                rowList: [10, 20, 30],
                // 启用新增修改导航栏
                add: true,
                edit: true,
                addtext: "Add",
                edittext: "Edit",
                hidegrid: false,
                // 行内编辑
                cellEdit: false,
                cellsubmit: "clientArray",
                cellurl: "/AgentLevel/Update",
                datastr: "jsonstring",
            };
            JucheapGrid.Load(config);
            $("#btnSearch").bind("click", searchData);
        });

        // 自定义操作按钮
        function modify(obj) {
            alert(obj);
        }

        // 导航按钮事件
        function searchData() { //搜索
            var json = {
                keywords: $("#txtSearchKey").val()
            };
            XPage.Search(json);
        }

        function addModel() {
            $("#btnAdd").button("loading");
            window.location.href = "/AgentLevel/Detail/0";
        }

        function editModel() { //编辑
            var row = JucheapGrid.GetData();
            if (row != null) {
                $("#btnEdit").button("loading");
                window.location.href = "/AgentLevel/Detail/" + row.Id;
            } else {
                layer.alert("请选择要编辑的数据");
            }
        }

        function delData() { //删除
            XPage.DelData("/AgentLevel/Delete");
        }
    </script>
}
