@using Creeper.Web.Comm

@if (SessionTools.Admin != null)
{
    <form id="logoutForm" action="/Account/LogOff" method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#"> 你好 @SessionTools.Admin.UserName !</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
