
#body {
    background: #F3F3F3;
}

.mui-content {
    padding: 0%;
}

.ra1 {
    height: 43vw;
    color: #fff;
    font-size: 5vw;
    padding: 9% 21%;
}

    .ra1 span {
        color: #565656;
        padding-top: 5%;
        display: block;
        font-weight: 700;
    }

.ra2.boxradiusV2 {
    margin: 6% 3% 3% 3%;
    padding: 0% 3% 3% 3%;
    font-size: 3.7vw;
}

.ra2 .rz {
    height: 13vw;
    line-height: 13vw;
    border-bottom: 1px solid #e5e5e5;
}

.ra2 .rz2 .cz1 {
    width: 10%;
}

.ra2 .rz2 .cz2 {
    width: 20%;
    color: #a6a6a6;
    text-align: center;
}

.ra2 .rz2 .cz3 {
    width: 60%;
    color: #595959;
    margin-left: 10%;
}

.ra2 .rz2 .cz1 {
    padding: 0% 3.5%;
    height: 9vw;
}

    .ra2 .rz2 .cz1 div {
        background: url(/public/images/qq.png) no-repeat center;
        background-size: 100%;
        padding: 3%;
    }

.ra2 .rz .cz4 {
    position: absolute;
    right: 2%;
    top: 20%;
    background: #7DA5E6;
    height: 8vw;
    line-height: 8vw;
    border-radius: 5px;
    padding: 0% 3.5%;
    color: #fff;
}

.ra2 .rz.active {
    border-bottom: 1px solid #7da5e6;
}

#body .ra2 input {
    text-align: left;
    border: 0;
}

.ra3 {
    margin: 5% 6% 0% 6%;
    background: #7DA5E6;
    padding: 3% 0%;
    color: #fff;
    border-radius: 5px;
}

.ra4 {
    font-size: 2.7vw;
    margin: 0% 8%;
}

#body input, #body select {
    color: #565656;
    line-height: 9vw;
    height: 9vw;
    margin-bottom: 0px;
    font-size: 3.7vw;
    padding: 0% 2%;
}

#body select {
    padding: 0px;
}

.xia {
    position: absolute;
    top: 38%;
    right: 3%;
}

    .xia div {
        background: url(/public/images/jthuixia.png) no-repeat center;
        background-size: 100%;
        width: 3.5vw;
        height: 3.5vw;
    }

#body .e5btn.lock {
    background: #ccc;
}

#body .ra3.lock {
    background: #ccc;
}
