.list_box {
    
}
.item11 {
    
}
.item12 {
    
}

.mui-control-content {
    background-color: white;
    min-height: 215px;
}

    .mui-control-content .mui-loading {
        margin-top: 50px;
    }

.rz .cz1 {
    width: 33%;
    text-align: center;
}

.rz .cz2 {
    width: 20%;
    text-align: center;
}

.rz .cz3 {
    width: 47%;
    text-align: center;
}

#slider .mui-slider-group .th {
    border-bottom: 1px solid #e5e5e5;
}

    #slider .mui-slider-group .th .cz4 {
        position: absolute;
        right: 4%;
        width: 22px;
    }

        #slider .mui-slider-group .th .cz4 div {
            background: url(/public/images/yuehui.png) no-repeat;
            background-size: 100%;
        }

#slider .mui-slider-group .tr .cz4 {
    position: absolute;
    right: 4%;
    width: 22px;
}

    #slider .mui-slider-group .tr .cz4 div {
    }

#slider .mui-slider-group .th .cz {
    color: #BBBBBB;
}

#slider .mui-slider-group .tr .cz {
    color: #595959;
}

.mui-slider-group .tr {
    background: #F7F7F7;
}

    .mui-slider-group .tr.active {
        background: #fff;
    }

.mui-table-view-cell:after {
    background: #fff;
}

#Returnbtn {
    padding: 11px 10%;
    color: #fff;
    background: #fff;
    box-shadow: 0 0 1px #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

    #Returnbtn div {
        height: 36px;
        line-height: 35px;
        background: #7da5e6;
        border-radius: 12px;
    }

#slider .mui-control-item {
    color: #888;
}

    #slider .mui-control-item.mui-active {
        color: #7da5e6;
        font-weight: bold;
    }

#slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar {
    color: #888;
    background-color: #7da5e6;
}

#slider .mui-slider-progress-bar.mui-active {
    color: #7da5e6;
}

.AlterMsgShow {
    padding-top: 45vw;
    background: url(/public/images/msj.png) no-repeat center;
    background-size: 20%;
    height: 60vw;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
    border: 0px solid #c8c7cc;
}

#slider .mui-control-item.mui-active {
    border-bottom: 2px solid #7da5e6;
}

#slider .mui-control-item {
    border-bottom: 1px solid #c8c7cc;
}

.mui-table-view-cell {
    padding: 2% 0%;
}

.mui-table-view {
    padding-bottom: 15vw;
}
