
<div class="sider_bar">
    <div class="relative_box">
        <div class="menu_title">
            <div class="icon left"></div>
            <p>闲雅麻将·大长安</p>
        </div>
        <div style="top:40px" class="menu_list">
            <div class="list_outer content mcustomscrollbox _mCS_1">
                <div id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;" 
                     class="mCustomScrollBox mCS-light">
                    <div style="position:relative; top:0;" class="mCSB_container mCS_no_scrollbar">

                        <div class="menu_parent menu_single">
                            <a href="/Product/Index" target="_self">
                                <div class="menu_parent">
                                    <div class="menu_icon"><i class="fa fa-cubes"></i></div>
                                    <p>产品管理</p>
                                </div>
                            </a>
                        </div>

                        <div class="menu_parent menu_single">
                            <a href="/AgentLevel/Index" target="_self">
                                <div class="menu_parent">
                                    <div class="menu_icon"><i class="fa fa-id-card-o"></i></div>
                                    <p>分利层级管理</p>
                                </div>
                            </a>
                        </div>

                        <div class="menu_parent menu_single">
                            <a href="/Agent/Index" target="_self">
                                <div class="menu_parent">
                                    <div class="menu_icon"><i class="fa fa-fax"></i></div>
                                    <p>代理管理</p>
                                </div>
                            </a>
                        </div>

                        <div class="menu_parent menu_single">
                            <a href="/User/Index" target="_self">
                                <div class="menu_parent">
                                    <div class="menu_icon"><i class="fa fa-volume-up"></i></div>
                                    <p>用户管理</p>
                                </div>
                            </a>
                        </div>

                        <div class="menu_parent menu_single">
                            <a href="/Charge/Index" target="_self">
                                <div class="menu_parent">
                                    <div class="menu_icon"><i class="fa fa-newspaper-o"></i></div>
                                    <p>订单管理</p>
                                </div>
                            </a>
                        </div>
                        
                    </div>

                    @*<div style="position: absolute; display: none;" class="mCSB_scrollTools">
                        <div oncontextmenu="return false;" class="mCSB_buttonUp"></div>
                        <div class="mCSB_draggerContainer">
                            <div style="position: absolute; height: 540px; top: 0px;" oncontextmenu="return false;" class="mCSB_dragger">
                                <div style="position: relative; line-height: 540px;" class="mCSB_dragger_bar"></div>
                            </div>
                            <div class="mCSB_draggerRail"></div>
                        </div><div oncontextmenu="return false;" class="mCSB_buttonDown"></div>
                    </div>*@

                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="menu_single">
    <a href="/cms/category" target="_self">
        <div class="menu_parent">
            <div class="menu_icon"><i class="fa fa-pie-chart"></i></div>
            <p>分类管理</p>
        </div>
    </a>
</div>

<div class="menu_single">
    <a href="/cms/honor" target="_self">
        <div class="menu_parent">
            <div class="menu_icon"><i class="fa fa-trophy"></i></div>
            <p>荣誉证书</p>
        </div>
    </a>
</div>

<div class="menu_single">
    <a href="/cms/photo" target="_self">
        <div class="menu_parent">
            <div class="menu_icon"><i class="fa fa-photo"></i></div>
            <p>公司相册</p>
        </div>
    </a>
</div>

<div class="menu_single">
    <a href="/cms/comment" target="_self">
        <div class="menu_parent">
            <div class="menu_icon"><i class="fa fa-comment-o"></i></div>
            <p>评论留言</p>
        </div>
    </a>
</div>

<div class="menu_single">
    <a href="/cms/website" target="_self">
        <div class="menu_parent">
            <div class="menu_icon"><i class="fa fa-sitemap"></i></div>
            <p>网站信息</p>
        </div>
    </a>
</div>*@