<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--本地环境-->
    <add name="CreeperEntities" connectionString="server=.;database=Creeper;uid=sa;pwd=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <!--日志路径-->
    <add key="logFilePath" value="E:\logFiles_Creeper"/>
    
    <!-- ngrok 服务可以分配给你一个域名让你本地的web项目提供给外网访问，特别适合向别人展示你本机的web demo 
    以及调试一些远程的API (比如微信公众号，企业号的开发) http://ngrok.ciqiuwl.cn -->
    
    <!-- WebSite.Domain 开发环境-->
    <!--<add key="WebSite.Domain" value="http://mp.iteming.wang"/>-->
    <!-- 微信支付：测试公众号 -->
    <!--<add key="WeiXin.APPID" value="wxf4f9d1f1683b506e"/>
    <add key="WeiXin.APPSECRET" value="c596c3740113fe76d52edc1c4842ef96"/>
    <add key="WeiXin.MCHID" value="1481789072"/>
    <add key="WeiXin.KEY" value="ed1d16911698b24126f1e0223b77d9ea"/>
    <add key="ALIPAY_WxRETURN_URL" value="/WxPay/WxPayNotify"/>-->

    <!-- WebSite.Domain 开发环境-->
    <add key="WebSite.Domain" value="http://dcamp.koudl.com"/>
    <!-- 微信支付：大长安公众号 -->
    <add key="WeiXin.APPID" value="wxc6963e1511ea5dc7"/>
    <add key="WeiXin.APPSECRET" value="e135f994badff53a463b416288446d16"/>
    <add key="WeiXin.MCHID" value=""/>
    <add key="WeiXin.KEY" value=""/>
    <add key="ALIPAY_WxRETURN_URL" value="/WxPay/WxPayNotify"/>
    
    <!-- 代理IP 端口 -->
    <add key="Proxy.Enable" value="0"/>
    <add key="Proxy.IP" value="10.45.21.248"/>
    <add key="Proxy.Point" value="8082"/>

    <!--筛选的游戏ID （10032,大长安； 10013,兰州）-->
    <add key="GameID" value="10032" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>